@import url(description-image/description-image.css);
html,
body,
ul {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  min-width: 1133px; /*что бы не ломался макет, потом в конце общую адаптивность сделаем под разные экраны*/
}
.layout-plan {
  /*определяет границы контента на протяжении всей страницы, где это необходимо*/
  /*max-width: 1280px;*/
  max-width: 86.6%;
  margin: 0 auto;
  box-sizing: border-box;
}
.clearfix::after {
  /*при использовании float-боксов - родительский контейнер не будет "схлопываться"*/
  content: "";
  display: table;
  clear: both;
}
.borders {
  /*будем наблюдать границы разделов на время верстки ;) */
  border: 1px dashed green;
}
header {
  height: 100px;
  border-bottom: 1px solid #dadfe6;
  box-sizing: border-box;
}
.links-header {
  float: right;
  margin-top: 39px;
}
.links-header li {
  list-style-type: none;
  display: inline;
  margin: 16px;
  font-family: "Oswald";
  font-size: 10px;
}
a {
  text-decoration: none;
}
.main-nav {
  float: left;
}
.main-nav li {
  list-style-type: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Oswald";
  color: rgb(33, 35, 39);
  line-height: 1.2;
  /*border-bottom: 3px solid #ee3b33;*/
  padding: 37px 34px 40px;
  margin: 0px;
}
.search {
  float: right;
  height: 99px;
  /*width: 100px;*/
  width: 6.7%;
}
.search img {
  margin: 41px 17px;
}
.logo-1 {
  background-color: #ee3b33;
  /*width: 100px;*/
  width: 6.7%;
  height: 99px;
  float: left;
  margin: 0 auto;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Oswald;
  line-height: 1.2;
  text-align: center;
}
.logo-1 img {
  width: 44px;
  margin: 10px auto 0px;
}
.logo-1 p {
  margin: 0;
}
.smile {
  font-size: 9px;
  margin: 0;
  letter-spacing: 1px; /*расстояние между букв*/
}
.logo-1,
.search {
  min-width: 100px;
}
nav {
  height: 166px;
  border-bottom: 1px solid #dadfe6;
  box-sizing: border-box;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style-type: none;
  display: inline-block;
  height: 162px;
  /*float: left;*/
  /*margin: 0 30px;*/
}
.sub-nav-image {
  width: 157px;
  height: 90px;
  margin: 20px 0 19px;
}
.sub-nav-number {
  font-size: 13px;
  font-family: "Oswald";
  color: rgb(33, 35, 39);
  line-height: 1.2;
  text-align: center;
}
/*  main  ----------------------------------------*/
.description {
  height: 634px;
  padding-top: 110px;
}
.description-image {
  /*display: flex;
  justify-content: center;
  flex-direction: column;*/
/*   width: 48%;
  float: left;
  box-sizing: border-box;
  padding: 110px 0;
  position: relative;
  margin: 0 46px;
}
 */.description-text {
  width: 46%;
  float: right;
  box-sizing: border-box;
}
/*--main-end--------------------------------------*/
a:link {
  color: rgb(33, 35, 39);
}
a:visited {
  color: rgb(33, 35, 39);
}
a:hover {
  color: rgb(33, 35, 39);
}
a:active {
  color: rgb(33, 35, 39);
}
.main-nav li:hover {
  border-bottom: 3px solid rgba(238, 60, 51, 0.25);
}
nav li:hover {
  border-bottom: 3px solid rgba(238, 60, 51, 0.25);
}
.active-page {
  border-bottom: 3px solid #ee3b33;
}

/*width 1492px-100%   100 1292 100 - 6.7% 86.6% 6.7%*/
