.footer_menu {
  background-color: rgb(33, 35, 39);
  width: 100%;
}
.footer_menu_image,
.footer_menu_links {
  text-align: center;
}
.footer_menu_image {
  float: right;
  width: 24%;
  /* display: inline-block; */
  /* vertical-align: middle; */
}
.footer_menu_links {
  float: left;
  width: 53%;
}
.footer_menu_links li {
  text-align: left;
}
.footer_menu_links ul {
  list-style-type: none;
  display: inline-block;
  /* text-align: left; */
  /* margin: 0 auto; */
  padding: 0 5px;
  max-width: 193px;
  min-width: 150px;
  width: 12vw;
}
.footer_menu_links a {
  font-size: 10px;
  font-family: "Oswald";
  color: rgb(120, 126, 137);
  text-transform: uppercase;
  line-height: 2.25;
  text-align: left;
  text-decoration: none;
}
