.footer,
.footer_menu {
  width: 100%;
}
.footer ul {
  list-style-type: none;
}
.footer_menu_links_block {
  min-width: 190px;
}
.footer_menu_links,
.footer_info-left {
  float: left;
}
.footer_info-right {
  float: right;
}
.footer_menu_links_block,
.footer_info-right li {
  display: inline-block;
}
.footer_info-left { /*604px*/
    width: 40.5%;
    min-width: 255px;
    /* text-align: left; */
  }
.footer_info-right { /*765-417px*/
  /* text-align: left; */
    width: 51.5%;
}
.footer_info-left,
.footer_info-right {
  text-align: center;
  font-size: 10px;
  font-family: "Oswald";
  color: rgb(120, 126, 137);
  text-transform: uppercase;
  line-height: 2.7;
  margin: 0;
}
.footer_info-right ul {
  margin: 0;
  padding: 0;
}
.footer_info-right ul li {
  margin: 0 1.5%;
}
.footer_info {
  background-color: #191a1e;
}
.footer a {
  color: #787e89;
}
.borders {
    border: 1px dashed #aaaaaa;
}
.footer_menu_links_block a {
  font-size: 10px;
  font-family: "Oswald";
  color: rgb(120, 126, 137);
  text-transform: uppercase;
  line-height: 2.25;
  text-align: left;
}

/*---+---------------------------*/

.footer_menu_links_block ul {
  padding: 0;
}
.footer_menu {
  width: 100%;
}
.footer_menu_links {
  /* width: 66.5%; */
  width: 72%;
}
.footer_menu_links_block {
  width: 24%;
}
.footer_menu img {
  vertical-align: center;
}
@media (max-width: 540px) {
  .footer_info-left,
  .footer_info-right {
    width: 100%;
  }
}