html, body {
  margin: 0;
  padding: 0;
}.slayder-icon {
  margin: 0 auto;
  width: 77.5%;
  text-align: center;
  margin-bottom: 45px;
  min-width: 420px;
}
.slayder-icon ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.slayder-icon li {
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
  font-family: "Oswald";
  color: #cccccc;
  line-height: 0.75;
  width: 64px;
}
.slayder-icon svg {
  margin-top: 16px;
  position: relative;
}
.slayder-icon__line-grey {
  border-top: 1px solid #e3e3e3;
  position: relative;
  /* top: 76px; */
  top: 89px;
  width: 80%;
  margin: 0 auto;
}
label {
  cursor: pointer;
}
.borders {
  border: 1px dashed burlywood;
}
#switch-1:checked ~ .slayder-icon label:nth-child(1) circle,
#switch-2:checked ~ .slayder-icon label:nth-child(2) circle,
#switch-3:checked ~ .slayder-icon label:nth-child(3) circle,
#switch-4:checked ~ .slayder-icon label:nth-child(4) circle,
#switch-5:checked ~ .slayder-icon label:nth-child(5) circle {
  fill: #ee3b33;
}
#switch-1:checked ~ .slayder-icon label:nth-child(1) li,
#switch-2:checked ~ .slayder-icon label:nth-child(2) li,
#switch-3:checked ~ .slayder-icon label:nth-child(3) li,
#switch-4:checked ~ .slayder-icon label:nth-child(4) li,
#switch-5:checked ~ .slayder-icon label:nth-child(5) li {
  color: rgb(33, 35, 39);
}
.slayder-icon-1 {
  display: block;
  width: 30px;
  height: 30px;
  background: url(/slayder/slayder-icon/slayder-icon-1.png) no-repeat;
  margin: 0 auto;
  margin-bottom: 2px;
}
.slayder-icon-2 {
  display: block;
  width: 30px;
  height: 30px;
  background: url(/slayder/slayder-icon/slayder-icon-2.png) no-repeat;
  margin: 0 auto;
  margin-bottom: 2px;
}
.slayder-icon-3 {
  display: block;
  width: 30px;
  height: 30px;
  background: url(/slayder/slayder-icon/slayder-icon-3.png) no-repeat;
  margin: 0 auto;
  margin-bottom: 2px;
}
.slayder-icon-4 {
  display: block;
  width: 30px;
  height: 30px;
  background: url(/slayder/slayder-icon/slayder-icon-4.png) no-repeat;
  margin: 0 auto;
  margin-bottom: 2px;
}
.slayder-icon-5 {
  display: block;
  width: 30px;
  height: 30px;
  background: url(/slayder/slayder-icon/slayder-icon-5.png) no-repeat;
  margin: 0 auto;
  margin-bottom: 2px;
}
/*обратная связь*/
#switch-1:checked ~ .slayder-icon label:nth-child(1) a,
#switch-2:checked ~ .slayder-icon label:nth-child(2) a,
#switch-3:checked ~ .slayder-icon label:nth-child(3) a,
#switch-4:checked ~ .slayder-icon label:nth-child(4) a,
#switch-5:checked ~ .slayder-icon label:nth-child(5) a {
  background-position-x: -30px;
}
/*- - С л а й д ы - -(1492/2 - 15px)(1492/2 + 15px) ~ 731 vs 761 ~ 49% vs 51%*/
.clearfix {
  content: "";
  display: block;
  clear: both;
}
.slayder-articles {
  box-sizing: border-box;
  overflow: hidden;
}
/* .slayder-articles {
  margin: 0 auto;
}
 */
.slayder-articles article {
  width: 20%;
  float: left;
  box-sizing: border-box;
}
/* .image, .specification {
  overflow: hidden;
}
 */.image img {
  width: 49%;
}
.slayder-all-size {
  width: 500%;
}
/*позиция изображения при активации переключателя*/
#switch-1:checked ~ .slayder-articles .slayder-all-size {
	margin-left: 0;
}
#switch-2:checked ~ .slayder-articles .slayder-all-size {
	margin-left: -100%;
}
#switch-3:checked ~ .slayder-articles .slayder-all-size {
	margin-left: -200%;
}
#switch-4:checked ~ .slayder-articles .slayder-all-size {
	margin-left: -300%;
}
#switch-5:checked ~ .slayder-articles .slayder-all-size {
	margin-left: -400%;
}
