/* html, body {
  margin: 0;
  padding: 0;
} */
/* .borders {
  border: 1px dashed green;
} */
.line-text {
  border-top: 1px solid red;
  width: 443px;
}
.description-text {
  width: 100%;
  /* padding: 110px 94px; */
}
.description-text__header h1 {
  display: inline;
  font-size: 60px;
  font-family: "Oswald";
  color: rgb(33, 35, 39);
  line-height: 1.2;
}
.YZF‑R1 {
  font-size: 60px;
  font-family: "Oswald";
  color: rgb(33, 35, 39);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 1.25136738804335,0,0,1.25136738804335,0,0);
  -webkit-transform: matrix( 1.25136738804335,0,0,1.25136738804335,0,0);
  -ms-transform: matrix( 1.25136738804335,0,0,1.25136738804335,0,0);
  position: absolute;
  left: 872.611px;
  top: 384.5px;
  z-index: 77;
}
