/* html, body {
  margin: 0;
  padding: 0;
} */
/* .borders {
  border: 1px dashed green;
} */
.description-text {
  width: 100%;
  font-size: 14px;
  /* padding: 110px 94px; */
}
.description-text__header {
  font-size: 18px;
  font-family: "Oswald";
  word-spacing: 5px; /*расстояние между словами*/
}
.description-text__header h1 {
  text-transform: uppercase; /*делает все буквы заглавными*/
  display: inline;
  font-size: 74px;
  font-family: "Oswald";
  color: rgb(33, 35, 39);
  font-weight: 500; /*насыщеность шрифта*/
  vertical-align: middle;
}
.description-text__header span {
  color: #e7e9ee;
  /* color: red; */
  font-weight: 700;
}
.description-text a {
  text-decoration: none;
  color: #81848a;
}
.description-text__header .selected-year {
  color: rgb(238, 59, 51);
}
/*price*/
.description-text__price .type-price {
  font-size: 10px;
  font-family: "Oswald";
  color: rgb(129, 132, 138);
  font-weight: 500;
  margin-top: 0;
  line-height: 0.5;
  /* text-align: left; */
}
.description-text__price .price {
  font-size: 24px;
  font-family: "Oswald";
  color: rgb(33, 35, 39);
  line-height: 1.2;
  margin-top: 0;
  font-weight: 500;
}
.description-text__markers img {
  float: left;
  margin-top: 2px;
  margin-right: 20px;
}
/*-----------*/
.description-text__specification {
  font-size: 17px;
  font-family: "Source Sans Pro";
  color: rgb(33, 35, 39);
  line-height: 1.647;
  text-align: left;
  padding-top: 30px;
}
